# Lectura 13: Resolución de los ejercicios

## Ejercicio 1

Empleando los conocimientos de las series de Polars estudiados responda a las siguientes preguntas.

a. Cree una serie de Polars que contenga los siguientes elementos: " uva", "naranjA ", "FresA ", "mangO".

b. Obtenga una nueva serie a partir de la serie creada en el inciso a que no tenga espacios en blanco ni al principio ni al final en sus elementos y que todos sus elementos estén en minúsculas. 

c. Cree una nueva serie a partir de la obtenida en el inciso b que indique verdadero o falso si el elemento de la serie termina en la letra a. 

d. Cree una nueva serie a partir de la obtenida en el inciso b donde todas las letras a sean sustituidas por el número 4.

In [1]:
import polars as pl

### Inciso a

In [2]:
s = pl.Series('frutas', [" uva", "naranjA ", "FresA ", "mangO"])

s

shape: (4,)
Series: 'frutas' [str]
[
	" uva"
	"naranjA "
	"FresA "
	"mangO"
]

### Inciso b

In [3]:
s_b = s.str.strip_chars().str.to_lowercase()

s_b

shape: (4,)
Series: 'frutas' [str]
[
	"uva"
	"naranja"
	"fresa"
	"mango"
]

### Inciso c

In [4]:
s_ter_a = s_b.str.ends_with('a')

s_ter_a

shape: (4,)
Series: 'frutas' [bool]
[
	true
	true
	true
	false
]

### Inciso d

In [5]:
s_4 = s_b.str.replace_all('a', 4)

s_4

shape: (4,)
Series: 'frutas' [str]
[
	"uv4"
	"n4r4nj4"
	"fres4"
	"m4ngo"
]

## Ejercicio 2

Empleando los conocimientos de las series de Polars estudiados responda a las siguientes preguntas.

a. Cree una serie de Polars con los siguientes elementos: 6, 6, 3, 23, 20, 12, 2, 15.

b. Halle el máximo, el mínimo, el promedio y la suma de la serie.

c. Cree una función de Python de nombre factorial que reciba como parámetro un entero n mayor o igual a cero y devuelva como resultado el factorial de n. Utilice una serie de Polars para calcular el factorial.

### Inciso a

In [6]:
s = pl.Series('num', [6, 6, 3, 23, 20, 12, 2, 15])

### Inciso b

In [7]:
print('El máximo es {}'.format(s.max()))

print('El mínimo es {}'.format(s.min()))

print('El promedio es {}'.format(s.mean()))

El máximo es 23
El mínimo es 2
El promedio es 10.875

### Inciso c

In [8]:
def factorial(n: int) -> int:
    
    if n == 0:
        
        return 1
    
    else:
        
        s = pl.Series('num', list(range(1, n + 1)))
        
        return s.product()

In [9]:
factorial(0)

1

In [10]:
factorial(1)

1

In [11]:
factorial(3)

6

In [12]:
factorial(5)

120

In [13]:
1*2*3*4*5

120