# Lectura 11: Series - Conversiones

### Convertir una serie a un arreglo de tipo Arrow

In [1]:
import polars as pl

s1 = pl.Series('num', [1,2,3])

In [2]:
s_arrow = s1.to_arrow()

s_arrow

<pyarrow.lib.Int64Array object at 0x1098d8e20>
[
  1,
  2,
  3
]

In [3]:
s2 = pl.Series('texto', ['verde', 'negro'])

s2_arrow = s2.to_arrow()

s2_arrow

<pyarrow.lib.LargeStringArray object at 0x109944040>
[
  "verde",
  "negro"
]

### Convertir una serie a una lista de Python

In [4]:
s1_list = s1.to_list()

print(type(s1_list))

s1_list

<class 'list'>

[1, 2, 3]

### Convertir una serie a Numpy

In [5]:
s1_numpy = s1.to_numpy()

print(s1_numpy.dtype)

s1_numpy

int64

array([1, 2, 3])

### Convertir una serie de Polars a una serie de Pandas

Esta operación requiere que `panda` y `pyarrow` estén instalados.

In [6]:
s1_pandas = s1.to_pandas()

print(s1_pandas.dtype)

s1_pandas

int64

0    1
1    2
2    3
Name: num, dtype: int64

### Castear una serie de Polars a una DataFrame de Polars

In [7]:
s1_df = s1.to_frame()

s1_df

shape: (3, 1)
┌─────┐
│ num │
│ --- │
│ i64 │
╞═════╡
│ 1   │
│ 2   │
│ 3   │
└─────┘