# Lectura 09: Series - Fecha y Hora

### Extraer la fecha, fecha y hora y la hora

In [1]:
import polars as pl

from datetime import datetime

s1 = pl.Series('fecha', [datetime(2023, 2, 10), datetime(2023, 11, 23, 12, 35, 56)])

In [2]:
s1.dt.date()

shape: (2,)
Series: 'fecha' [date]
[
	2023-02-10
	2023-11-23
]

In [4]:
s1.dt.replace_time_zone(None)

shape: (2,)
Series: 'fecha' [datetime[μs]]
[
	2023-02-10 00:00:00
	2023-11-23 12:35:56
]

In [5]:
s1.dt.time()

shape: (2,)
Series: 'fecha' [time]
[
	00:00:00
	12:35:56
]

### Extraer año, mes, día y hora

In [6]:
s1.dt.year()

shape: (2,)
Series: 'fecha' [i32]
[
	2023
	2023
]

In [7]:
s1.dt.month()

shape: (2,)
Series: 'fecha' [i8]
[
	2
	11
]

In [8]:
s1.dt.day()

shape: (2,)
Series: 'fecha' [i8]
[
	10
	23
]

In [9]:
s1.dt.hour()

shape: (2,)
Series: 'fecha' [i8]
[
	0
	12
]

### Hallar el primer y el último día del mes

In [10]:
s1.dt.month_start()

shape: (2,)
Series: 'fecha' [datetime[μs]]
[
	2023-02-01 00:00:00
	2023-11-01 12:35:56
]

In [11]:
s1.dt.month_end()

shape: (2,)
Series: 'fecha' [datetime[μs]]
[
	2023-02-28 00:00:00
	2023-11-30 12:35:56
]

### Hallar la mayor y la menor fecha de la serie

In [12]:
s1.dt.max()

datetime.datetime(2023, 11, 23, 12, 35, 56)

In [13]:
s1.dt.min()

datetime.datetime(2023, 2, 10, 0, 0)

### Hallar el número de semanas transcurridas y el día de la semana

In [14]:
s1.dt.week()

shape: (2,)
Series: 'fecha' [i8]
[
	6
	47
]

In [15]:
s1.dt.weekday()

shape: (2,)
Series: 'fecha' [i8]
[
	5
	4
]

Para este caso Polars trabaja con lunes=1 y domingo=7