# Lectura 49: Funciones de selección

In [1]:
import polars as pl

df = pl.DataFrame(
    schema={
        "edad": pl.UInt32,
        "salario": pl.Float64,
        "estatura": pl.Float32,
        "residente": pl.Boolean,
        "hora": pl.Time,
        "nacimiento": pl.Date,
        "trabajado": pl.Duration,
        "log": pl.Datetime("ms"),
        "direccion": pl.String,
    },
)

## `by_dtype`

Selecciona todas las columnas que coinciden con los tipos de datos proporcionados.

In [2]:
import polars.selectors as cs

df.select(
    cs.by_dtype(pl.String, pl.Date)
)

shape: (0, 2)
┌────────────┬───────────┐
│ nacimiento ┆ direccion │
│ ---        ┆ ---       │
│ date       ┆ str       │
╞════════════╪═══════════╡
└────────────┴───────────┘

## `contains`

Selecciona las columnas cuyos nombres contienen el substring proporcionado.

In [3]:
df.select(
    cs.contains('re')
)

shape: (0, 2)
┌───────────┬───────────┐
│ residente ┆ direccion │
│ ---       ┆ ---       │
│ bool      ┆ str       │
╞═══════════╪═══════════╡
└───────────┴───────────┘

## `starts_with` y `ends_with`

Estas funciones permiten seleccionar las columnas que comienzan o terminan con el substring proporcionado.

In [4]:
df.select(
    cs.starts_with('e'),
    cs.ends_with('o')
)

shape: (0, 5)
┌──────┬──────────┬─────────┬────────────┬──────────────┐
│ edad ┆ estatura ┆ salario ┆ nacimiento ┆ trabajado    │
│ ---  ┆ ---      ┆ ---     ┆ ---        ┆ ---          │
│ u32  ┆ f32      ┆ f64     ┆ date       ┆ duration[μs] │
╞══════╪══════════╪═════════╪════════════╪══════════════╡
└──────┴──────────┴─────────┴────────────┴──────────────┘

## `matches`

Esta función selecciona todas las columnas que coincidan con la expresión regular que le proporcionemos.

En el siguiente ejemplo buscaremos las columnas que tengan una t seguido de una letra a o r.

In [5]:
df.select(
    cs.matches('t[a|r]')
)

shape: (0, 2)
┌──────────┬──────────────┐
│ estatura ┆ trabajado    │
│ ---      ┆ ---          │
│ f32      ┆ duration[μs] │
╞══════════╪══════════════╡
└──────────┴──────────────┘

El resto de las funciones que están disponibles en los selectores ya las hemos visto de una forma u otra en el transcurso del curso o hacen referencia a tipos de datos específicos de Polars.