# Lectura 16: DataFrame - Atributos

In [ ]:
import polars as pl

df = pl.DataFrame(
    {
        'c1': ['Pedro', 'Juan', 'Maria'],
        'c2': ['senior', 'junior', 'junior'],
        'c3': [10000, 4000, 4500],
        'c4': ['RH', 'desarrollo', 'RH']
    }
)

### Obtener o cambiar el nombre de las columnas

In [ ]:
df.columns

In [ ]:
df.columns = ['nombre', 'puesto', 'salario', 'departamento']

df.columns

### Obtener el tipo de dato de las columnas

In [ ]:
df.dtypes

### Obtener el esquema

`schema` retorna un mapeo con el nombre y el tipo de dato de la columna

In [ ]:
df.schema

### Obtener la forma del DataFrame

In [ ]:
df.shape

In [ ]:
df.height

In [ ]:
df.width