# Lectura 55: SQL en Polars II

## Crear un `SQLContext` con la función `with`

Podemos controlar la duración del registro de una tabla utilizando `SQLContext` en conjunto con la función `with`. A menudo, esto puede resultar más útil cuando se desea este tipo de control.

In [ ]:
import polars as pl

df = pl.DataFrame(
    {
        'id': [1, 2, 3],
        'color': ['rojo', 'verde', 'azul']
    }
)

lf = pl.LazyFrame(
    {
        'letra': ['a', 'b', 'c'],
        'conteo': [6, 9, 3]
    }
)

df1 = pl.DataFrame({'a': [1]})

df2 = pl.DataFrame({'b': [2]})

df3 = pl.DataFrame({'c': [3]})

En el siguiente ejemplo registraremos dos DataFrames en el momento de la construcción y otros tres dentro del scope de la función `with`.

In [ ]:
with pl.SQLContext(df=df, lf=lf) as ctx:
    
    ctx.register_many(df1=df1, df2=df2, df3=df3)
    
    print(ctx.tables())

Observemos como dentro del contexto de la función `with` existían 5 tablas. Veamos que sucede si mostramos las tablas que que hay registradas ahora.

In [ ]:
ctx.tables()

Las tablas registradas dentro del scope se cancelan automáticamente al salir del scope de la función `with`. Sin embargo, las tablas registradas en la construcción persistirán en los scopes posteriores.

## Ejecutar consultas SQL a partir de diferentes fuentes

In [ ]:
with pl.SQLContext(
    juegos=pl.scan_csv('./data/games.csv'),
    ligas=pl.scan_csv('./data/leagues.csv'),
    eager_execution=True
) as ctx:
    query = """
    SELECT
        name,
        count(*) AS conteo
    FROM juegos
    LEFT JOIN ligas ON competition_code = league_id
    GROUP BY name
    ORDER BY conteo DESC
    """
    
    print(ctx.execute(query))

## Funciones de tabla

Polars también admite la lectura directa de CSV, Parquet, JSON e IPC directamente en una consulta SQL utilizando las funciones de tabla `read_xxx`. Veamos un ejemplo con la función `read_csv`.

In [ ]:
with pl.SQLContext(eager_execution=True) as ctx:
    
    query = """
    SELECT *
    FROM read_csv('./data/games.csv')
    """
    
    print(ctx.execute(query))

## Compatibilidad

Polars no admite todas las sentencias SQL, pero sí un subconjunto de los tipos de declaraciones más comunes.

Siempre que sea posible, Polars pretende seguir las definiciones de sintaxis y el comportamiento de las funciones de PostgreSQL.

A continuación listamos algunas de las características que no están soportadas por el momento:
- INSERT
- UPDATE
- DELETE